#interview(ng-controller='usersController')
  %h4 From ME
  %ul
    %li
      = link_to 'Google Wikipedia Diabetes', 'https://www.google.com/search?q=Google+Wikipedia+Lime+Disease&oq=Google+Wikipedia+Diabetes'
  %h4 From your Nurse
  %ul
    %li
      = link_to 'NIH + PubMed + Diabetes', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=diabetes'
    %li
      = link_to 'NIH + PubMed + Type 1 Diabetes', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=type+1+diabetes'
    %li
      = link_to 'NIH + PubMed + Type 2 Diabetes', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=type+2+diabetes'
    %li
      = link_to 'NIH + PubMed + Diabetes - Complications', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=diabetic+complications'
  %h4 From your Pharmacist
  %ul
    %li
      = link_to 'NIH + PubMed + Drugs Review', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=diabetes+drugs+review'
    %li
      = link_to 'NIH + PubMed + Type 1 Drugs Treatment', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=type+1+diabetes+drug+treatment'
    %li
      = link_to 'NIH + PubMed + Type 2 Drugs Treatment', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=type+2+diabetes+drug+treatment'
    %li
      = link_to 'NIH + PubMed + Drud Discovery', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=diabetes+drug+discovery'
    %li
      = link_to 'NIH + PubMed + Drud Therapy', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=diabetes+drug+therapy'


