!!! 5
%html
  %head
    %title Charleses
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application.js'
    = javascript_include_tag 'https://apis.google.com/js/platform.js'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main
      = render 'layouts/messages'
      = yield
